//
//  Secrets.xcconfig
//  moyeo
//
//  Created by Chang Jonghyeon on 7/29/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

NMFClientId = vtjhtr895t
XNaverClientId = 7CXqtGiq5s7GYBdQji6l
XNaverClientSecret = CDIp_3N75c

HOST_URL = 5techdong.store
